#root {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
}

.wrapper::after {
  content: '';
  position: absolute;
  inset: 0 0 var(--scroll-bar-height);
  z-index: 100;
  pointer-events: none;
}

.wrapper.-canScrollRight::after {
  box-shadow: -4px 0px 5px 0px rgba(0, 0, 0, 0.3) inset;
}

.wrapper.-canScrollLeft::after {
  box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.3) inset;
}

.wrapper.-canScrollRight.-canScrollLeft::after {
  box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.3) inset,
    -9px 0px 5px -5px rgba(0, 0, 0, 0.3) inset;
}

.container {
  overflow-x: scroll;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
}

.box {
  position: relative;
  min-width: 600px;
  border: 2px solid #9f9f9f;
}
